{% extends "base.html" %}
{% block app_content %}
<div class="header">
    <table width=100% height=100%>
        <tr>
            <td>
                <center>
                    <font face="times">
                        <span style="font-size:100px;color:green;font-family:century">
                            <a href="https://github.com/qiqiApink/TalkingFace-Web-Demo/" style="text-decoration:none;">人脸项目</a>
                        </span>
                    </font>
                </center>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>功能列表</h1>
            </div>
            <!-- <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">
                    <script async src="https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom" id="_carbonads_js"></script>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#talkingface">说话人脸生成</a>
                    <a class="list-group-item" href="#faceswap">视频换脸</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="talkingface">说话人脸生成</h1>
                </div>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>类别</th>
                                <th>描述</th>
                                <th>方法列表</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>视频驱动方式</td>
                                <td>提供一段语音和一段视频，用语音驱动生成视频中说话人口型与该语音内容相匹配的动画</td>
                                <td>说特定的语音(Wav2Lip)</br>test</td>
                            </tr>
                            <tr>
                                <td>图像驱动方式</td>
                                <td>提供一段语音和一张目标说话人图像，用语音驱动生成目标说话人唇形与该语音内容匹配的动画</td>
                                <td>让图像动起来(Make It Talk)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="faceswap">换脸</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bs-component">
                    <h3>功能描述</h3>
                    <p>提供一张图片和一个视频，将视频中的人脸修改为图片中的人脸</p>
                </div>
            </div>
        </div>
    </div>
    <div class="empty"></div>
</div>
{% endblock %}
