{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    <div class="container">
        <form class="form" method="post" action="/make_it_talk_upload" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.image) }}
            {{ wtf.form_field(form.audio) }}
            {{ wtf.form_field(form.csrf_token)}}
            {{ wtf.form_field(form.submit) }}
        </form>
        <div class="empty"></div>
    </div>
{% endblock %}
