{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div>
        <h4>Download Output File</h4>
        <a href="/videodownload/{{ outputfile }}">Download Video</a></br>
    </div>
    <div>
        <h4>Driving Image</h4>
        <image controls width="320" src='/imageshow/{{ imagefile }}'>
                <!--<source src="/videoshow" type="video/mp4">!-->
        </video>
        <h4>Original Audio</h4>
        <audio controls width="320" src='/audioshow/{{ audiofile }}'>
                <!--<source src="/audioshow">!-->
        </audio>
        <h4>Result Video</h4>
        <video controls width="320" src='/resultshow/{{ outputfile }}'>
        </video>
    </div>
    <div class="empty"></div>
</div>
{% endblock %}
